.body {
    width: 100%;
    height: 579px;
    /*this image 
    background-image: url("../assets/photo-1432821596592-e2c18b78144f.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
*/
}